#mov_img{
    width:100% !important;
    height: 15vw;
    object-fit: cover !important;
}

.setimg{
    padding: 0px !important; 
    
}

#list{
    color: #4a4a49;
    font-size:1.3em;
    font-weight : bold;
    padding-top: 10px;
}
